<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesi칩n</title>
    <link rel="icon" type="image/png" href="icono.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <form action="/authenticate" method="post">
        <h2>Inicio de Sesi칩n</h2>
        <div class="section">
            <div class="title">Nombre de usuario</div>
            <div class="field"><input type="text" id="username" name="username">
        </div>
        <div class="section">
            <div class="title">Contrase침a</div>
            <div class="field"><input type="password" id="password" name="password"></div>
        </div>
        <div class="section">
            <div class="button"><input type="submit" value="Iniciar Sesi칩n"></div>
            <div class="button"><a href="/signup">Registrarse</a></div>
        </div>
        </div>
    </form>
</body>
</html>