body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://source.unsplash.com/1600x900/?nature,water');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#heading {
  background: #000000d0;
  color: #fff;
  text-align: center;
}

.box {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #000000d0;
  color: white;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.box1 {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #000000d0;
  color: white;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #663; 
}


.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #444444;
}

.round {
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

#taskInput{
  border-radius: 18px;
  background: #444444;
  border: none;
  color: white;
}