body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://source.unsplash.com/1600x900/?nature,water');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#icono {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 10px;
}



.box {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #000000d0;
  color: white;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.box1 {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #000000d0;
  color: white;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

#Agregar:hover{
  background-color: rgb(0, 112, 112);

}

#Eliminar:hover {
  background-color: rgb(112, 0, 15); 
}

#Completar:hover {
  background-color: rgb(0, 112, 15); 
}

.complete-btn, #Eliminar {
  width: 100px;  
}

#Completar.volver:hover {
  background-color: rgba(255, 145, 0, 0.514); 
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #444444;
}

.tareas{
  text-align: center !important;
}

#taskInput{
  border-radius: 18px;
  background: #444444;
  border: none;
  color: white;
}

.completed {
  background-color: rgba(4, 122, 4, 0.247);
}


@media (max-width: 600px) {
  .item div form,
  .item div button {
    margin-top: 10px;
  }
  #taskInput{
    text-align: center;
  }
}